rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }

    function isProjectMember(projectId) {
      return isAuthenticated()
        && request.auth.uid in
           get(/databases/$(database)/documents/projects/$(projectId))
             .data.members;
    }

    match /users/{userId} {
      // Cada usuario puede leer SU propio perfil
      allow read: if request.auth != null && request.auth.uid == userId;

      // Escritura solo desde backend/admin (por ahora nadie)
      allow write: if false;
    }

    match /projects/{projectId} {
      allow read: if isAuthenticated();
      allow write: if false;
    }

    match /cameras/{cameraId} {

      allow read: if isProjectMember(resource.data.projectId);

      allow update: if
        isProjectMember(resource.data.projectId)
        && request.resource.data.projectId == resource.data.projectId
        && request.resource.data.createdAt == resource.data.createdAt;

      allow create: if
        isProjectMember(request.resource.data.projectId)
        && (
            request.resource.data.createdAt == request.time
            || request.resource.data.createdAt == null
        );

      allow delete: if false;

      match /operations/{operationId} {

        allow read: if isAuthenticated()
          && request.auth.uid in
             get(
               /databases/$(database)/documents/projects/
               $(get(/databases/$(database)/documents/cameras/$(cameraId)).data.projectId)
             ).data.members;

        allow create: if isAuthenticated()
          && request.auth.uid in
             get(
               /databases/$(database)/documents/projects/
               $(get(/databases/$(database)/documents/cameras/$(cameraId)).data.projectId)
             ).data.members;

        allow update: if isProjectMember(resource.data.projectId)
            && request.resource.data.projectId == resource.data.projectId
                 && request.resource.data.createdAt == resource.data.createdAt
                 && !("location" in request.resource.data);

        allow update, delete: if false;
      }

      match /locations/{locationId} {

        allow read: if isAuthenticated()
          && request.auth.uid in
             get(
               /databases/$(database)/documents/projects/
               $(get(/databases/$(database)/documents/cameras/$(cameraId)).data.projectId)
             ).data.members;

        allow create: if isAuthenticated()
          && request.auth.uid in
             get(
               /databases/$(database)/documents/projects/
               $(get(/databases/$(database)/documents/cameras/$(cameraId)).data.projectId)
             ).data.members;

        allow update, delete: if false;
      }
    }
  }
}
